*{
	margin: 0px;
}


body{
	background-color: rgb(0, 132, 255);
	font-family: 'Nunito', sans-serif; 
}

h1{
	font-size: 30px;
	color: whitesmoke;
}

h1 strong{
	color: rgb(0, 132, 255);
}

ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	height: inherit;
}

.header{
	background: rgb(0, 132, 255);
	color: whitesmoke;
	display: flex;
	justify-content: space-between;
	height: 90px;
}

.header img{
	padding: 5px;
}

.header li{
	height: inherit;
}

.header a{
	color: whitesmoke;
	text-decoration: none;
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0px 10px;
}

.logo img{
width:100px;
}

.menu{
	height: inherit;
}

.principal {
	color: rgb(0, 132, 255);
	background-image: url("../img/fondoCuyos.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 100px;
}

.principal img{
width: 300px;
}

.somos {
  background-color:  rgb(0, 132, 255);
	text-align: center;
	padding: 50px;
	margin: 0px;
	font-size: 35px;
	color: whitesmoke;
}

.somos h2{
	color: #cc0000;
	margin-bottom: 10px;
}

.somos p{
	margin-bottom: 20px;
}

.principal-boton{
	width: 250px;
	height: 40px;
	background-color: #99cc00;
	border-radius: 24px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	margin-top: 30px;
}

.tercera{
	background-color: green;
	text-align: right;
	padding: 200px 50px;
	margin: 50px;
}

.padre{
   background-color: white;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   justify-content: center;
   height: 500px;
   align-items: center;
   color: white;
}
.hijo{ 
	background-color: orange;
	width: 200px;
	height: 200px;
	border: 2px solid yellowgreen;
	font-size: 30px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.aplicar{
	height: 500px;
	background-color: yellowgreen;
	display: flex;
	color: black;
	margin: 0px;
}

.aplicar-detalles{
	width: 50%;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding: 0px 30px;
	font-size: 20px;
	text-align: left;
}

.aplicar h3{
padding: 3px;
}
.aplicar-detalles img{
	height: 90%;
	align-items: left;
}

.contactos h3{
padding: 20px;
font-size: 25px;
}

.container1{
	display: flex;
	background: black;
	color: white;
	text-align: center;
	justify-content: space-around;
}

.container2{
	background: rgb(0, 132, 255)
}

.row1-contacto{
	display: flex;
	margin: 10px;
}

.row1-contacto img{
	width: 35px;
	height: 25px;
}

.row2-contacto{
	display: flex;
}

.row2-contacto img{
	width: 35px;
	height: 25px;
}

.row1-redes img{
	width: 35px;
	height: 25px;
}
